[submodule "themes/Butterfly"]
	path = themes/Butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly.git
[submodule "themes/anzhiyu"]
	path = themes/anzhiyu
	url = https://github.com/anzhiyu-c/hexo-theme-anzhiyu.git
